<h3>THANK YOU!</h3>
<p>We are excited present our speaker, Sudanese "Lost Boy" and Episcopalian Minister, Reverand Zachariah Char. We are looking forward to seeing you at the banquet and appreciate your support of the Welcome Network. We look forward to seeing you there!</p>
<h3>PAYMENT</h3>
<p>Please make your check out to <i><b>Chicagoland Immigrant Welcome Network</b></i> or <i><b>CIWN</b></i> and mail the donation to:</p><br>
<i>&nbsp&nbsp&nbspWelcome Network Donations<br>&nbsp&nbsp&nbspP.O. Box 3393<br>&nbsp&nbsp&nbspMunster, IN 46321</i>

<h3>EVENT</h3>
<p>10AM. Saturday, 10/20/18</p>

<p>Gamba Ristorante<br>455 E. 84th Ave.<br>Merillville, IN 46410</p><br>

<a class="flyer" href=\'https://twn-app.herokuapp.com/images/ThumbNailLostBoyFound.jpg\'><img src="https://twn-app.herokuapp.com/images/ThumbNailLostBoyFound.jpg" alt="Event Flyer"></img></a>
<a class="flyer" href=\'https://twn-app.herokuapp.com/images/ThumbNailLostBoyFound.jpg\>Click for event flyer</a><br>
<strong>CHICAGOLAND IMMIGRANT WELCOME NETWORK</strong><br>824 Hoffman St. | Hammond, IN 46327<br>219.932.4800 (ext. 106)</p><a href="https://twitter.com/TheWelcomeNet">Twitter</a><a href="https://www.facebook.com/TheWelcomeNetwork">FB</a><a href="http://www.thewelcomenet.org/">Welcome Net Website</a>
<style>h3 { margin-bottom: 0px } p { margin-top: 3px; margin-bottom: 3px;} img { height: 100px; } a { display: block; }</style>
