<h3>THANK YOU!</h3>
<p>We are excited to present our speaker, Sudanese "Lost Boy" and Episcopalian Minister, Reverand Zachariah Char. We are looking forward to seeing you at the banquet and appreciate your support of the Welcome Network. We look forward to seeing you there!</p>

<h3>PAYMENT</h3>
<p>Please make your check out to <i><b>Chicagoland Immigrant Welcome Network</b></i> or <i><b>CIWN</b></i></p>
<p>and mail the donation to:</p>
<i>&nbsp&nbsp&nbspWelcome Network Donations</i>
<i>&nbsp&nbsp&nbspP.O. Box 3393</i>
<i>&nbsp&nbsp&nbspMunster, IN 46321</i>

<h3>EVENT</h3>
<p>10AM. Saturday, 10/20/18</p>
<p>Gamba Ristorante455 E. 84th Ave.Merillville, IN 46410</p>
<a class="flyer-anchor" href='https://twn-app.herokuapp.com/images/ThumbNailLostBoyFound.jpg'><img class="flyer-image" src="https://twn-app.herokuapp.com/images/ThumbNailLostBoyFound.jpg" alt="Event Flyer"></img></a>
<a class="flyer-anchor" href='https://twn-app.herokuapp.com/images/ThumbNailLostBoyFound.jpg'>Click for event flyer</a>
<h3>CHICAGOLAND IMMIGRANT WELCOME NETWORK</h3>
<p>824 Hoffman St. | Hammond, IN 46327219.932.4800 (ext. 106)</p>
<a href="http://www.thewelcomenet.org/"><img class="icon" src="https://twn-app.herokuapp.com/images/TWN_logo.png"</a>
<a href="https://twitter.com/TheWelcomeNet"><img class="icon" src="https://twn-app.herokuapp.com/images/iconTwitter.png" alt="Twitter"></a>
<a href="https://www.facebook.com/TheWelcomeNetwork"><img class="icon" src="https://twn-app.herokuapp.com/images/iconFacebook.png" alt="FB"></a>
<style>h3 { margin-bottom: 0px } p { margin-top: 3px; margin-bottom: 3px;} .flyer-image { height: 100px; } .flyer-anchor { display: block; } i, a.anchor-block { display: block; } img.icon { height: 50px; } </style>








var html1 = '<p>Hello, ' + registrant.firstName + " " + registrant.lastName + "!</p>"
html1 = html1 + '<h3>THANK YOU!</h3>';
html1 = html1 + '<p>We are excited to present speaker, Sudanese "Lost Boy" and Episcopalian Minister, Reverand Zachariah Char. We are looking forward to seeing you at the banquet and appreciate your support of the Welcome Network!</p>';

if (registrant.paymentMethod == "check") {
  html1 = html1 + '<h3>PAYMENT</h3>';
  html1 = html1 + '<p>Please make your check out to <i><b>Chicagoland Immigrant Welcome Network</b></i> or <i><b>CIWN</b></i></p>';
  html1 = html1 + '<p>and mail the donation to:</p>';
  html1 = html1 + '<i>Welcome Network Donations</i>';
  html1 = html1 + '<i>P.O. Box 3393</i>';
  html1 = html1 + '<i>Munster, IN 46321</i>';

}

html1 = html1 + '<h3>EVENT</h3>';
html1 = html1 + '<p>10AM. Saturday, 10/20/18</p>';
html1 = html1 + '<p>Gamba Ristorante</p><p>455 E. 84th Ave.</p><p>Merillville, IN 46410</p>';
html1 = html1 + '<a class="flyer-anchor" href=\'https://twn-app.herokuapp.com/images/ThumbNailLostBoyFound.jpg\'><img class=\"flyer-image\" src=\"https://twn-app.herokuapp.com/images/ThumbNailLostBoyFound.jpg\" height=\"100px\" alt=\"Event Flyer\"></img></a>';
html1 = html1 + '<a class=\"flyer-anchor\" href=\'https://twn-app.herokuapp.com/images/ThumbNailLostBoyFound.jpg\'>Click for event flyer</a>';
html1 = html1 + '<h3>CHICAGOLAND IMMIGRANT WELCOME NETWORK</h3>';
html1 = html1 + '<p>824 Hoffman St. | Hammond, IN 46327219.932.4800 (ext. 106)</p>';
html1 = html1 + '<a href=\"http://www.thewelcomenet.org/\"><img class=\"icon\" src=\"https://twn-app.herokuapp.com/images/TWN_logo.png\" height=\"50px\"></a>';
html1 = html1 + '<a href=\"https://twitter.com/TheWelcomeNet\"><img class=\"icon\" src=\"https://twn-app.herokuapp.com/images/iconTwitter.png\" height=\"50px\" alt=\"Twitter\"></a>';

html1 = html1 + '<a href=\"https://www.facebook.com/TheWelcomeNetwork\"><img class=\"icon\" src=\"https://twn-app.herokuapp.com/images/iconFacebook.png\" height=\"50px\" alt=\"FB\"></a>';
html1 = html1 + '<style>h3 { margin-bottom: 0px } p { margin-top: 0px; margin-bottom: 0px;} .flyer-image { height: 100px; } .flyer-anchor { display: block; } i, a.anchor-block { display: block; } img.icon { height: 50px; } </style>';
