extends layout

block content
  img#twn-logo(src='/images/TWN_logo.png' alt='The Welcome Net Logo')
  div#page-title-parent.clearfix
    h1#page-title-child= title
  p We are looking forward to seeing you!

  form(name='registration-form' action='/banquet0818/doRegister' onsubmit='return validateForm()')
    .form-row
      .form-group.col-md-6
        label(for='registrantFirstName') First Name
        input#registrantFirstName.form-control(type='textarea' placeholder='First Name' required)
      .form-group.col-md-6
        label(for='registrantLastName') Last Name
        input#registrantLastName.form-control(type='textarea' placeholder='Last Name' required)

    .form-group
      label(for='phoneNumber') Phone number
      input#phoneNumber.form-control(type='tel' title='Phone Number (Format: (219)933-9000)' placeholder='(xxx)xxx-xxxx' required)

    .form-group
      label(for='exampleFormControlInput1') Email address
      input#exampleFormControlInput1.form-control(type='email' placeholder='name@example.com')

    .form-group
      label(for='inputAddress') Address
      input#inputAddress.form-control(type='text' placeholder='1234 Main St')
    .form-group
      label(for='inputAddress2') Address 2
      input#inputAddress2.form-control(type='text' placeholder='Apartment, studio, or floor')
    .form-row
      .form-group.col-md-6
        label(for='inputCity') City
        input#inputCity.form-control(type='text')
      .form-group.col-md-4
        label(for='inputState') State
        select#inputState.form-control
          option(selected='') Choose...
          option(value='AL') Alabama
          option(value='AK') Alaska
          option(value='AZ') Arizona
          option(value='AR') Arkansas
          option(value='CA') California
          option(value='CO') Colorado
          option(value='CT') Connecticut
          option(value='DE') Delaware
          option(value='DC') District Of Columbia
          option(value='FL') Florida
          option(value='GA') Georgia
          option(value='HI') Hawaii
          option(value='ID') Idaho
          option(value='IL') Illinois
          option(value='IN') Indiana
          option(value='IA') Iowa
          option(value='KS') Kansas
          option(value='KY') Kentucky
          option(value='LA') Louisiana
          option(value='ME') Maine
          option(value='MD') Maryland
          option(value='MA') Massachusetts
          option(value='MI') Michigan
          option(value='MN') Minnesota
          option(value='MS') Mississippi
          option(value='MO') Missouri
          option(value='MT') Montana
          option(value='NE') Nebraska
          option(value='NV') Nevada
          option(value='NH') New Hampshire
          option(value='NJ') New Jersey
          option(value='NM') New Mexico
          option(value='NY') New York
          option(value='NC') North Carolina
          option(value='ND') North Dakota
          option(value='OH') Ohio
          option(value='OK') Oklahoma
          option(value='OR') Oregon
          option(value='PA') Pennsylvania
          option(value='RI') Rhode Island
          option(value='SC') South Carolina
          option(value='SD') South Dakota
          option(value='TN') Tennessee
          option(value='TX') Texas
          option(value='UT') Utah
          option(value='VT') Vermont
          option(value='VA') Virginia
          option(value='WA') Washington
          option(value='WV') West Virginia
          option(value='WI') Wisconsin
          option(value='WY') Wyoming
      .form-group.col-md-2
        label(for='inputZip') Zip
        input#inputZip.form-control(type='text')
    .form-group
      label(for='Affiliation') Are you a guest of a Welcome Network Board member, or affiliated Church partner? If so, please indicate which/who?
      input#affiliation.form-control(type='textarea' placeholder='Affiliation')


    #registration-info
      h3 Guest List
      p $40/person. Up to 10 people per table/registration.

    .form-row
      p.col-md-2 Put your name here if you are attending.
      .form-group.col-md-5
        input#guestFirstName01.form-control(type='textarea' placeholder='First Name' name='guest-fname-1')
      .form-group.col-md-5
        input#guestLastName01.form-control(type='textarea' placeholder='Last Name' name='guest-lname-1')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName02.form-control(type='textarea' placeholder='First Name' name='guest-fname-2')
      .form-group.col-md-5
        input#guestLastName02.form-control(type='textarea' placeholder='Last Name' name='guest-lname-2')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName03.form-control(type='textarea' placeholder='First Name' name='guest-fname-3')
      .form-group.col-md-5
        input#guestLastName03.form-control(type='textarea' placeholder='Last Name' name='guest-lname-3')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName04.form-control(type='textarea' placeholder='First Name' name='guest-fname-4')
      .form-group.col-md-5
        input#guestLastName04.form-control(type='textarea' placeholder='Last Name' name='guest-lname-4')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName05.form-control(type='textarea' placeholder='First Name' name='guest-fname-5')
      .form-group.col-md-5
        input#guestLastName05.form-control(type='textarea' placeholder='Last Name' name='guest-lname-5')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName06.form-control(type='textarea' placeholder='First Name' name='guest-fname-6')
      .form-group.col-md-5
        input#guestLastName06.form-control(type='textarea' placeholder='Last Name' name='guest-lname-6')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName07.form-control(type='textarea' placeholder='First Name' name='guest-fname-7')
      .form-group.col-md-5
        input#guestLastName07.form-control(type='textarea' placeholder='Last Name' name='guest-lname-7')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName08.form-control(type='textarea' placeholder='First Name' name='guest-fname-8')
      .form-group.col-md-5
        input#guestLastName08.form-control(type='textarea' placeholder='Last Name' name='guest-lname-8')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName09.form-control(type='textarea' placeholder='First Name' name='guest-fname-9')
      .form-group.col-md-5
        input#guestLastName09.form-control(type='textarea' placeholder='Last Name' name='guest-lname-9')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName10.form-control(type='textarea' placeholder='First Name' name='guest-fname-10')
      .form-group.col-md-5
        input#guestLastName10.form-control(type='textarea' placeholder='Last Name' name='guest-lname-10')

    .form-group
      input#numGuests(type="hidden" name="numGuests")

    .form-group
    button.btn.btn-primary(type='submit') Continue
