extends layout

block content
  img#twn-logo(src='/images/TWN_logo.png' alt='The Welcome Net Logo')
  div#page-title-parent.clearfix
    h1#page-title-child= title
  p We are looking forward to seeing you!

  form
    .form-row
      .form-group.col-md-6
        label(for='registrantFirstName') First Name
        input#registrantFirstName.form-control(type='textarea' placeholder='First Name')
      .form-group.col-md-6
        label(for='registrantLastName') First Name
        input#registrantLastName.form-control(type='textarea' placeholder='Last Name')

    .form-group
      label(for='phoneNumber') Phone number
      input#phoneNumber.form-control(type='tel' title='Phone Number (Format: (219)933-9000)' placeholder='(xxx)xxx-xxxx')

    .form-group
      label(for='exampleFormControlInput1') Email address
      input#exampleFormControlInput1.form-control(type='email' placeholder='name@example.com')

    .form-group
      label(for='inputAddress') Address
      input#inputAddress.form-control(type='text' placeholder='1234 Main St')
    .form-group
      label(for='inputAddress2') Address 2
      input#inputAddress2.form-control(type='text' placeholder='Apartment, studio, or floor')
    .form-row
      .form-group.col-md-6
        label(for='inputCity') City
        input#inputCity.form-control(type='text')
      .form-group.col-md-4
        label(for='inputState') State
        select#inputState.form-control
          option(selected='') Choose...
          option(value='AL') Alabama
          option(value='AK') Alaska
          option(value='AZ') Arizona
          option(value='AR') Arkansas
          option(value='CA') California
          option(value='CO') Colorado
          option(value='CT') Connecticut
          option(value='DE') Delaware
          option(value='DC') District Of Columbia
          option(value='FL') Florida
          option(value='GA') Georgia
          option(value='HI') Hawaii
          option(value='ID') Idaho
          option(value='IL') Illinois
          option(value='IN') Indiana
          option(value='IA') Iowa
          option(value='KS') Kansas
          option(value='KY') Kentucky
          option(value='LA') Louisiana
          option(value='ME') Maine
          option(value='MD') Maryland
          option(value='MA') Massachusetts
          option(value='MI') Michigan
          option(value='MN') Minnesota
          option(value='MS') Mississippi
          option(value='MO') Missouri
          option(value='MT') Montana
          option(value='NE') Nebraska
          option(value='NV') Nevada
          option(value='NH') New Hampshire
          option(value='NJ') New Jersey
          option(value='NM') New Mexico
          option(value='NY') New York
          option(value='NC') North Carolina
          option(value='ND') North Dakota
          option(value='OH') Ohio
          option(value='OK') Oklahoma
          option(value='OR') Oregon
          option(value='PA') Pennsylvania
          option(value='RI') Rhode Island
          option(value='SC') South Carolina
          option(value='SD') South Dakota
          option(value='TN') Tennessee
          option(value='TX') Texas
          option(value='UT') Utah
          option(value='VT') Vermont
          option(value='VA') Virginia
          option(value='WA') Washington
          option(value='WV') West Virginia
          option(value='WI') Wisconsin
          option(value='WY') Wyoming
      .form-group.col-md-2
        label(for='inputZip') Zip
        input#inputZip.form-control(type='text')
    .form-group
      label(for='Affiliation') Are you a guest of a Welcome Network Board member, or affiliated Church partner? If so, please indicate which/who?
      input#affiliation.form-control(type='textarea' placeholder='Affiliation')






    button.btn.btn-primary(type='submit') Continue
