extends layout

block content
  .row#registration-banner
    img#twn-logo.col-md-3(src='/images/TWN_logo.png' alt='The Welcome Net Logo')
    div#page-title-parent.col-md-6
      h1#page-title-child= title
      p We are looking forward to seeing you!<br>$40/ticket. 10AM. Saturday, 10/20/18.
    div.col-md-3
      a(href="/images/LostBoyFound.pdf" download)
        img#flyer(src='/images/ThumbNailLostBoyFound.jpg' alt='Lost Boy Found Flyer')
        p Event Flyer
        
  form(name='registration-form' action='/banquet102018/doRegister' onsubmit='return validateForm()' method='post')
    .form-row
      .form-group.col-md-6
        label(for='registrantFirstName') First Name
        input#registrantFirstName.form-control(type='textarea' placeholder='First Name' name='registrantFirstName' required)
      .form-group.col-md-6
        label(for='registrantLastName') Last Name
        input#registrantLastName.form-control(type='textarea' placeholder='Last Name' name='registrantLastName' required)

    .form-group
      label(for='phoneNumber') Phone number
      input#phoneNumber.form-control(type='tel' title='Phone Number (Format: (219)933-9000)' placeholder='(xxx)xxx-xxxx' name='phoneNumber' required)

    .form-group
      label(for='emailAddress') Email address
      input#emailAddress.form-control(type='email' name='emailAddress' placeholder='name@example.com')

    .form-group
      label(for='address1') Address 1
      input#inputAddress.form-control(type='text' placeholder='1234 Main St' name='address1')
    .form-group
      label(for='address2') Address 2
      input#inputAddress2.form-control(type='text' placeholder='Apartment, studio, or floor' name='address2')
    .form-row
      .form-group.col-md-6
        label(for='city') City
        input#inputCity.form-control(type='text' name='city')
      .form-group.col-md-4
        label(for='state') State
        select#inputState.form-control(name='state')
          option(selected='') Choose...
          option(value='AL') Alabama
          option(value='AK') Alaska
          option(value='AZ') Arizona
          option(value='AR') Arkansas
          option(value='CA') California
          option(value='CO') Colorado
          option(value='CT') Connecticut
          option(value='DE') Delaware
          option(value='DC') District Of Columbia
          option(value='FL') Florida
          option(value='GA') Georgia
          option(value='HI') Hawaii
          option(value='ID') Idaho
          option(value='IL') Illinois
          option(value='IN') Indiana
          option(value='IA') Iowa
          option(value='KS') Kansas
          option(value='KY') Kentucky
          option(value='LA') Louisiana
          option(value='ME') Maine
          option(value='MD') Maryland
          option(value='MA') Massachusetts
          option(value='MI') Michigan
          option(value='MN') Minnesota
          option(value='MS') Mississippi
          option(value='MO') Missouri
          option(value='MT') Montana
          option(value='NE') Nebraska
          option(value='NV') Nevada
          option(value='NH') New Hampshire
          option(value='NJ') New Jersey
          option(value='NM') New Mexico
          option(value='NY') New York
          option(value='NC') North Carolina
          option(value='ND') North Dakota
          option(value='OH') Ohio
          option(value='OK') Oklahoma
          option(value='OR') Oregon
          option(value='PA') Pennsylvania
          option(value='RI') Rhode Island
          option(value='SC') South Carolina
          option(value='SD') South Dakota
          option(value='TN') Tennessee
          option(value='TX') Texas
          option(value='UT') Utah
          option(value='VT') Vermont
          option(value='VA') Virginia
          option(value='WA') Washington
          option(value='WV') West Virginia
          option(value='WI') Wisconsin
          option(value='WY') Wyoming
      .form-group.col-md-2
        label(for='zipCode') Zip
        input#inputZip.form-control(type='text' name='zipCode')
    .form-group
      label(for='affiliation') Are you a guest of a Welcome Network Board member, or affiliated Church partner? If so, please indicate which/who?
      input#affiliation.form-control(type='textarea' placeholder='Affiliation' name='affiliation')


    #registration-info
      h3 Guest List
      p $40/person. Up to 10 people per table/registration.

    .form-row
      p.col-md-2 Put your name here if you are attending.
      .form-group.col-md-5
        input#guestFirstName1.form-control(type='textarea' placeholder='First Name' name='guest_fname_1')
      .form-group.col-md-5
        input#guestLastName1.form-control(type='textarea' placeholder='Last Name' name='guest_lname_1')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName2.form-control(type='textarea' placeholder='First Name' name='guest_fname_2')
      .form-group.col-md-5
        input#guestLastName2.form-control(type='textarea' placeholder='Last Name' name='guest_lname_2')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName3.form-control(type='textarea' placeholder='First Name' name='guest_fname_3')
      .form-group.col-md-5
        input#guestLastName3.form-control(type='textarea' placeholder='Last Name' name='guest_lname_3')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName4.form-control(type='textarea' placeholder='First Name' name='guest_fname_4')
      .form-group.col-md-5
        input#guestLastName4.form-control(type='textarea' placeholder='Last Name' name='guest_lname_4')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName5.form-control(type='textarea' placeholder='First Name' name='guest_fname_5')
      .form-group.col-md-5
        input#guestLastName5.form-control(type='textarea' placeholder='Last Name' name='guest_lname_5')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName6.form-control(type='textarea' placeholder='First Name' name='guest_fname_6')
      .form-group.col-md-5
        input#guestLastName6.form-control(type='textarea' placeholder='Last Name' name='guest_lname_6')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName7.form-control(type='textarea' placeholder='First Name' name='guest_fname_7')
      .form-group.col-md-5
        input#guestLastName7.form-control(type='textarea' placeholder='Last Name' name='guest_lname_7')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName8.form-control(type='textarea' placeholder='First Name' name='guest_fname_8')
      .form-group.col-md-5
        input#guestLastName8.form-control(type='textarea' placeholder='Last Name' name='guest_lname_8')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName9.form-control(type='textarea' placeholder='First Name' name='guest_fname_9')
      .form-group.col-md-5
        input#guestLastName9.form-control(type='textarea' placeholder='Last Name' name='guest_lname_9')

      p.col-md-2 Guest
      .form-group.col-md-5
        input#guestFirstName10.form-control(type='textarea' placeholder='First Name' name='guest_fname_10')
      .form-group.col-md-5
        input#guestLastName10.form-control(type='textarea' placeholder='Last Name' name='guest_lname_10')

    .form-group
      input#numGuests(type="hidden" name="numGuests")

    .form-group
    button.btn.btn-primary(type='submit') Continue
